HW01/.env
*.pyc
HW02/HW_A/.env
HW02/HW_C/student_hw03_fastapi_serving/.env.example
HW02/.env
HW02/HW_C/student_hw03_fastapi_serving/.env
HW02/.env
HW02/.env
HW02/HW_C/student_hw03_fastapi_serving/run_local.cmd
HW02/.env
*.cmd
